.login {
  height: 100%;
  position: relative;

  .login-form {
    position: absolute;
    top: 50%;
    right: 200px;
    margin: -124px 0 0 0;
    max-width: 300px;

    .login-form-forgot {
      float: right;
    }
    .login-form-button {
      width: 100%;
    }
  }
}